.idea
.DS_Store
.gradle
build
*.iml
*~
local.properties
.externalNativeBuild
.cxx
.cdep
cdep.sha256
_tutorial05_triangle.orig/
common/
third_party/
tutorial01_load_vulkan/
tutorial02_prebuild_layers/
tutorial03_traceable_layers/
tutorial04_first_window/
